extends layout
block content
  h1 Климатические испытания
  hr
  panel.panel-default
      each system in systems 
        .panel-body
          table.table.table-bordered
            tr
              td(rowspan='3') 
                p: img(src=`images/${system.code}.jpg`)
              td 
                strong 
                      a(name=`${system.code}`) 
                      a(href=`#${system.code}`)
                        p#heder= system.name
            tr
              td 
                p= system.manufacturer
            tr
              td 
                p= system.details