html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  ЦНИИ РТК

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')


  body
    div.container
      
      //- NAVIGATION
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
              button.navbar-toggle.collapsed(
              type='button', 
              data-toggle='collapse', 
              data-target='#navbar', 
              aria-expanded='false', 
              aria-controls='navbar'
            )
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar


          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li(class=`${indexClass}`)
                a(href='/') Главная
              li(class=`${servicesClass}`)
                a(href='/services') Услуги
              li.dropdown(class=`${equipmentClass}`)
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Оборудование 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/mechanic') Механические испытания
                  li
                    a(href='/climatic')  Климатические испытания 
                  li
                    a(href='/vacuum') Вакуумные испытания
              li(class=`${contactsActive}`)
                a(href='/contacts') Контакты

            ul.nav.navbar-nav.navbar-right
                li
                  img(src='images/logo.jpg')


      //- CONTENT
      div.jumbotron(id="content")
        block content